body{ 
  background-color: black; 
  font-family: 'Ink free';font-size: 1em; 
  margin: 0; 
} 
#main { 
  margin: 0; 
  padding: 0;  
} 
h1 { 
 font-family: 'Metal Macabre';    
}
h2 { 
  font-family: 'Ink free';
  font-size: 3vw;
  font-weight: bolder;   
 }
.whiteFont{
  color: white;
}
.contain {
  object-fit: contain;
  object-position: center;
  text-align: center;
}
.middle {
  padding: 1ex;
  vertical-align: middle;
}
.button { 
  background-color: white; 
  border: 2px solid red; 
  color: RED; 
  font-size: 4rem; 
  padding: 8px; 
  text-align: center; 
  display: inline-block; 
  font-size: 2vw; 
  margin: 3px 1px; 
  border-radius: 22px; 
  cursor: pointer; 
} 
.contenedor{ 
      display: grid; 
      grid-template-columns: repeat(32, auto); 
      grid-template-rows: repeat(18, auto); 
      margin: 0; 
    } 
    #logoWoDTop{  
      background-blend-mode: overlay;
      z-index: -1; 
      max-height: 70%;
      grid-row: 2/7; 
      grid-column: 14/21; 
      padding-top: 1%;
      text-align: center;
    } 
    #leftColumn{ 
      z-index: -2; 
      grid-row: 3/18; 
      grid-column: 2/11;
    }
    #AliveListHeader{
      background-blend-mode: overlay;
      font-size: larger; 
      z-index: -1; 
      grid-row: 1/4; 
      grid-column: 2/11;
      text-align: center;
    }
    #AliveCoders{
      background-blend-mode: overlay;
      z-index: -1; 
      grid-row: 6/16; 
      grid-column: 2/11; 
      text-align: center;
      padding-left: 2vw;
      font-family: 'Ink free'; 
      color: white; 
      width: 20vw; 
      height: 50vh; 
      overflow: auto; 
      scroll-behavior: smooth; 
      font-size: 1vw; 
    } 
    #centerWheel{ 
      background-blend-mode: overlay;
      z-index: 0;
      grid-row: 5/15; 
      grid-column: 11/23;
      text-align:center; 
    }
    #deadHeader{
      background-blend-mode: overlay;
      z-index: -1; 
      grid-row: 1/4; 
      grid-column: 24/32;
      text-align:center; 
    } 
    #rightColumn{
      background-blend-mode: overlay;
      z-index: -2; 
      grid-row: 3/13; 
      grid-column: 24/32;
      text-align:center;
    } 
    #bottomSelectButton{ 
      z-index: 1; 
      margin: 0; 
      grid-row: 13/18; 
      grid-column: 11/23; 
      text-align:center;
    } 
    #bottomResetButton{ 
      z-index: 1; 
      margin: 0; 
      grid-row: 14/18; 
      grid-column: 24/32; 
      text-align:center; 
    } 
    #fakeSelected  
    { 
      background-blend-mode: overlay; 
      z-index: 1; 
      text-align: center; 
      font-family: 'Ink free'; 
      color: red; 
      font-size: 3vh; 
      font-weight: bolder; 
      grid-row: 3/13; 
      grid-column: 24/32; 
      padding-top: 1vw; 
    } 
    